<div class="row mt-2">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <div>
        <h3 class="mb-0 font-weight-bold">Welcome</h3>
        <p class="opacity-50 mt-0">A login system for Vehicle Finance Department</p>
      </div>

      <p class="mb-4">
        <img src="/assets/loginicon.png" alt="icon" width="40%" />
      </p>
      <a href="/auth/login" class="btn btn-light btn-block font-weight-bold"
        >LOG IN</a
      >
      <a
        href="/auth/register"
        class="btn btn-primary btn-block font-weight-bold mb-2"
        >REGISTER</a
      >
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
  
  </div>
</div>
